
<div id="konami" style="display: none;">
	<a href="/konami" id="konami-start">Start</a>
</div>

<script src="assets/js/fartscript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  fartscroll();
  function konami(callback) {
    let kkeys = [];
    // up,up,down,down,left,right,left,right,B,A
    const konami = '38,38,40,40,37,39,37,39,66,65';
    return event => {
        kkeys.push(event.keyCode);
        if (kkeys.toString().indexOf(konami) >= 0) {
            callback();
            kkeys = [];
        }
    };
  }

  window.addEventListener('keydown', konami(() => {
      let kk = document.getElementById("konami");
      kk.style.display = 'block';
      particlesJS.load('konami', 'assets/js/particles.json', function() {
        console.log('konami magic');
      });
  }));
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-core.min.js"></script>
<script src="assets/js/konami.js"></script>
<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
